.container {
    display: flex;
    justify-content: center;
}

.container>div {
    background-color: #ffffff;
    border-radius: 30px;
    width: 34em;
    margin: 10px;
    border: 1px solid rgb(128, 128, 128, 0.3);
}

.infoDiv {
    padding: 3em;
}

.backArrow {
    width: 20px;
}

.title {
    font-size: 34px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.paragraph {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-indent: 50px;
}

.trendingTitle {
    color: #2f47ab;
}

.leftTicketDiv {
    width: 100%;
}

.rightTicketDiv {
    width: 100%;
}

.leftTicket {
    height: auto;
    width: 9em;
    position: absolute;
}

.rightTicket {
    height: auto;
    width: 12em;
}

.ticketContent {
    z-index: 5;
    position: relative;
    height: 8em;
    padding-left: 22px;
    padding-right: 30px;
}

.ticketContent>div>p {
    margin: 0;
}

.couponTitle {
    font-size: 18px;
    font-weight: 500;
}

.couponCode {
    font-size: 12px;
    font-weight: 700;
}

.couponDescription {
    font-size: 10px;
}

::ng-deep.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: #233b85;
    border-radius: 10px;
}

.availOffer {
    font-size: 14px;
}


.ticketsContentDiv {
    height: 26em;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.ticketsContentDiv::-webkit-scrollbar {
    display: none;
}


// .couponDiv {
//     padding-bottom: 4em;
// }


.ticketsDiv {
    padding: 30px;
}


.ticketsContent {
    border: 1px solid rgb(128, 128, 128, 0.3);
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 10px;
}

.ticketsContent ::selection {
    background-color: #ffffff;
}

.ticketProfileImgDiv {
    border-radius: 100px;
    overflow: hidden;
    width: 4em;
    height: 4em;
}


.ticketProfileImg {
    width: 100%;
}

.titleWrapper {
    width: max-content;
}


.ticketDescription {
    opacity: 0.5;
    font-size: 15px;
    margin: 0;
}


.userImg {
    width: 14px;
}

.price {
    font-size: 18px;
    margin-top: 2px;
}

.child {
    border-bottom: 1px solid rgba(178, 178, 178, 0.2);
}

.childDescription {
    font-size: 9px;
    color: #008000;
    font-weight: 500;
    opacity: 0.95;
}

.priceSection>p {
    margin: 4px !important;
}

.childPrice {
    font-size: 12px;
    font-weight: 500;
}

.childOldPrice {
    font-size: 12px;
    opacity: 0.5;
}

.childOffer {
    font-size: 12px;
    font-weight: 900;
    opacity: 0.8;
}

.childOldPrice {
    text-decoration: line-through;
}

.childOffer {
    color: #800000;
}





.countButtonsWrapper {
    background-color: #2f47ab;
    border-radius: 40px;
    width: 7em;
    min-height: 38px;
}

.decreaseButton,
.increaseButton {
    background-color: #ffffff;
    border-radius: 40px;
    font-size: 24px;
    width: 30px;
}


.selectedCount {
    color: #ffffff;
}
















::ng-deep .p-inputgroup .p-button {
    background-color: #2f47ab;
    border-radius: 0 14px 14px 0;
    width: 8em;
}


::ng-deep .p-inputgroup .p-button .p-button-label {
    font-size: 14px;
}

::ng-deep .p-inputgroup .p-inputtext {
    border-radius: 14px 0 0 14px;
    padding: 20px;
}





.ticketsFooterDiv {
    padding-top: 20px;
}

.totalDiv b {
    font-size: 20px;
}



.allTax {
    margin: 0;
    opacity: 0.5;
    font-size: 14px;
}


.confirmButtonDiv .p-button {
    background-color: #2f47ab;
    border-radius: 100px;
    border: none;
    width: 14em;
    height: 50px;
}







@media screen and (max-width: 575px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .container>div {
        width: 18em;
        margin: 10px;
    }

    .infoDiv {
        padding: 20px;
        padding-bottom: 2em;
    }

    .couponDiv {
        padding: 10px;
    }

    .couponDiv {
        display: none;
    }

    .title {
        font-size: 24px;
    }

    .ticketsContentDiv {
        padding-left: 4px;
    }

    .ticketProfileImgDiv {
        display: none !important;
    }

    .titleWrapper,
    .ticketDescription {
        font-size: 12px;
        text-wrap: wrap;
        width: 10em;
    }


    .childTitleDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .child {
        flex-direction: column;
    }

    .childProfileDiv {
        display: none;
    }

    .childRight {
        display: flex;
        justify-content: center;
    }

    ::ng-deep .p-inputgroup .p-button {
        width: 4em;
        padding: 0;
    }

    ::ng-deep .p-inputgroup .p-inputtext {
        padding: 8px;
    }


    .confirmButtonDiv .p-button {
        width: 8em;
    }

}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .container>div {
        width: 28em;
        margin: 10px;
    }

    .infoDiv {
        padding: 20px;
        padding-bottom: 2em;
        padding-top: 2em;
    }

    // .couponDiv {
    //     padding: 10px;
    // }


    .ticketContent {
        width: 8em;
        padding-right: 0;
    }

}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .container>div {
        width: 100%;
        margin: 10px;
    }

    // .infoDiv {
    //     padding: 10px;
    //     padding-bottom: 14em;
    //     padding-top: 4em;
    // }

    .couponDiv {
        padding-left: 2em;
        padding-right: 2em;
    }

    .leftTicket {
        width: 10em;
    }

    .ticketContent {
        width: 11em;
    }

}