.container {
  background-color: #eff3ff;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.wrapper {
  width: 70em;
}

.container {
  overflow: scroll !important;
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

.container::-webkit-scrollbar {
  display: none !important;
}

.logoWrapper {
  width: 100%;
}

.logoDiv {
  margin: 1.7em 0 1em 0;
}

.logoDiv img {
  width: 11em;
  height: auto;
}

.sideBarToggleWrapper {
  position: relative;
  bottom: 5em;
  height: 0;
}

.stepsWrapperDiv {
  width: 34em;
}

.stepsDiv {
  background: transparent;
  z-index: 2;
  position: relative;
}

.steps {
  width: 28px;
  height: 28px;
  border: 3px solid;
  border-radius: 100px;
  background-color: #ffffff;
  transition: 0.3s all;
}

.stepsImg {
  width: 12px;
  height: 12px;
  transition: 0.3s all;
}

.disabledSteps {
  border: 3px solid #cccece;
  transition: 0.3s all;
}

.disabledStepsImg {
  opacity: 0.2;
  transition: 0.3s all;
}

.completedSteps {
  background-color: #2bbc4a;
}

.progressbarDiv {
  margin: 0 40px;
  z-index: 0;
  position: relative;
  bottom: 70px;
}

::ng-deep.p-progressbar-determinate .p-progressbar-label {
  display: none !important;
}

::ng-deep.p-progressbar .p-progressbar-value {
  background-color: #000000 !important;
}

::ng-deep.p-progressbar {
  box-shadow: inset 0px 0px 20px grey;
  height: 18px;
}


::ng-deep .p-sidebar-right {
  width: 25rem;
  background-color: #eff3ff;
  color: #000000;
}

::ng-deep.p-sidebar .p-sidebar-header {
  padding: 0.5em 1em;
  margin: 1em 1.5em;
  background-color: #e5e8fb;
}


.sidebarHeader {
  font-size: 24px;
  font-weight: 600;
}


::ng-deep.p-sidebar .p-sidebar-header .p-sidebar-close,
.p-sidebar .p-sidebar-header .p-sidebar-icon {
  border: 3px solid rgb(128, 128, 128, 0.3);
  padding: 16px;
}


.sidebarContent {
  font-weight: 600;
  font-size: 14px;
}


.sidebarParentLabel {
  margin-top: 24px;
  margin-bottom: 24px;
}


.firstChildLabelImage {
  width: 8px;
}


.firstChild {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e5e8fb;
}





.loader {
  background-color: rgb(240, 244, 255, 0.5) !important;
}

.parkTicketLoading {
  width: 200px;
  height: auto;
}

.secondChildItemLabel {
  margin-left: 3em;
}


.summaryDiv,
.paymentDiv {
  background-color: #ffffff;
  border-radius: 30px;
  width: 34em;
  border: 1px solid rgb(128, 128, 128, 0.3);
  // height: 20em;
}


.backArrow {
  width: 20px;
}

.summaryTitleDiv {
  font-size: 22px;
}

.summaryTitleDiv,
.paymentTitleDiv {
  height: 3em;
}

.paymentTitleDiv {
  font-size: 22px;
}


.bookingSummary,
.selectedLocation {
  color: #2f47ab;
}

.bookingSummary {
  font-size: 12px;
  background-color: #eff3ff;
  border-radius: 20px;
  font-weight: 600;
}

.dates {
  font-weight: 700;
  font-size: 20px;
}




input[pInputText] {
  border: none;
  outline: none;
  width: 100%;
  padding: 0;
}


input[pInputText]:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  /* Remove the focus effect */
}

::ng-deep p-inputnumber input {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  width: 10em !important;
  padding: 0 !important;
  /* Remove the blue focus shadow */
}

::ng-deep p-inputnumber input:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  /* Ensure focus state also has no border */
}

::ng-deep.p-disabled,
.p-component:disabled {
  opacity: 1;
  font-weight: 700;
}


.amountFooterDiv {
  font-size: 20px;
  font-weight: 700;
}

.paymantWrapper {
  height: 22em;
}


.payment:hover,
.selectedPayment {
  border: 1px solid #2f47ab;
}


.tearmsAndConditionsInfo {
  font-size: 12px;
}


.paymentFooterDiv {
  padding-bottom: 10px;
}

.paymentFooterDiv .p-button {
  width: 100%;
  border-radius: 30px;
  background-color: #2f46ab;
}


::ng-deep.p-dialog .p-dialog-header {
  padding-bottom: 0;
}

::ng-deep.dialogButton .p-ripple {
  background-color: #fad500;
  width: 8em;
  border: none;
  border-radius: 30px;
  color: #2f46ab;
}


.warningImage {
  width: 8em;
  height: auto;
}



@media screen and (max-width: 575px) {
  .wrapper {
    width: 20em;
  }


  .logoDiv img {
    width: 8em;
    height: auto;
  }

  .sideBarToggleWrapper {
    bottom: 4em;
  }

  .progressbarDiv {
    margin: 0 24px;
    bottom: 62px;
  }

  .stepLabel {
    font-size: 12px;
  }

  ::ng-deep .p-sidebar-right {
    width: 15rem;
  }

  ::ng-deep.p-sidebar .p-sidebar-content {
    padding: 0 !important;
  }

  ::ng-deep.p-sidebar .p-sidebar-header {
    margin: 0;
  }

  .paymentContainer {
    flex-direction: column;
    align-items: center;
  }


  .summaryDiv,
  .paymentDiv {
    width: 20em;
  }

  .paymantWrapper {
    height: auto;
  }

  .payment {
    justify-content: center;
  }

  .upiDescription {
    display: none;
  }

}



@media screen and (min-width: 576px) and (max-width: 767px) {
  .wrapper {
    width: 36em;
  }

  .logoDiv img {
    width: 8em;
    height: auto;
  }

  .sideBarToggleWrapper {
    bottom: 4em;
  }

  .progressbarDiv {
    margin: 0 36px;
    bottom: 62px;
  }

  .stepLabel {
    font-size: 12px;
  }

  ::ng-deep .p-sidebar-right {
    width: 12rem;
  }

  ::ng-deep.p-sidebar .p-sidebar-content {
    padding: 0 !important;
  }

  .paymentContainer {
    flex-direction: column;
    align-items: center;
  }

  .summaryDiv,
  .paymentDiv {
    width: 30em;
  }

}

@media screen and (min-width: 768px) and (max-width: 1199px) {

  .wrapper {
    width: 45em;
  }

  .paymentContainer {
    flex-direction: column;
    align-items: center;
  }
}