<div class="container flex justify-content-center">
    <div class="wrapper">

        <div class="logoWrapper flex justify-content-center">
            <div class="logoDiv cursor-pointer" (click)="sharedService.logoClicked();">
                <img src="../../../assets/logo/logo_new.svg" alt="logo" loading="lazy">
            </div>
        </div>

        <div class="sideBarToggleWrapper flex justify-content-end">
            <div class="sideBarToggleDiv cursor-pointer" (click)="showSidebar=true">
                <img src="../../../assets/parkTicketSidebarToggle/toggle.svg" alt="toggle">
            </div>
        </div>

        <div class="stepsWrapper flex justify-content-center" *ngIf="!sharedService.isStepsCompleted">
            <div class="stepsWrapperDiv">
                <div class="stepsDiv flex justify-content-around">
                    <div class="steps flex justify-content-center align-items-center m-2 cursor-pointer flex-column"
                        [ngClass]="[isStepGreaterThanIndex(i)?'':'disabledSteps ',isStepCompleted(i)?'completedSteps':'']"
                        *ngFor="let step of stepsData;let i = index"
                        (click)="sharedService.onActiveIndexChange(i,true)">
                        <img class="stepsImg" [ngClass]="[isStepGreaterThanIndex(i)?'':'disabledStepsImg ',]"
                            src="../../../assets/parkTicketStepsImage/image (5).png" alt="">
                    </div>
                </div>
                <div class="stepLabelDiv flex justify-content-around ">
                    <div class="stepLabel" *ngFor="let step of stepsData">
                        <p class="mt-1">{{step.label}}</p>
                    </div>
                </div>
                <div class="progressbarDiv">
                    <p-progressBar [value]="sharedService.progressbarValue" />
                </div>
            </div>
        </div>


        <div class="contentWrapper" *ngIf="!sharedService.isStepsCompleted">
            <app-location *ngIf="sharedService.activeIndex==0"></app-location>
            <app-date *ngIf="sharedService.activeIndex==1"></app-date>
            <app-tickets *ngIf="sharedService.activeIndex==2"></app-tickets>
            <app-addons *ngIf="sharedService.activeIndex==3"></app-addons>
            <app-rules *ngIf="sharedService.activeIndex==4"></app-rules>
            <app-billing *ngIf="sharedService.activeIndex==5"></app-billing>
        </div>


        <div class="flex paymentContainer" *ngIf="sharedService.isStepsCompleted">
            <div class="summaryWrapper m-2">
                <div class="summaryTitleDiv flex align-items-center justify-content-start ">
                    <img class="backArrow mr-3 cursor-pointer" (click)="backToBilling()"
                        src="../../../assets/parkTicketDate/back-arrow.svg" alt="">
                    <h2 class="title m-0 cursor-pointer" (click)="backToBilling()">
                        {{sharedService.CONSTANTS.parkTicketPaymentTitle}}</h2>
                </div>
                <div class="summaryDiv">
                    <div class="summary m-3">
                        <div class="border p-3 mb-2">
                            <div class="bookingSummaryDiv flex justify-content-between ">
                                <div class="bookingSummary p-2">
                                    <p class="m-0 text-center">
                                        {{sharedService.CONSTANTS.parkTicketBillingBookingSummary}}
                                    </p>
                                </div>
                                <div class="locationDiv flex justify-content-center align-items-center ">
                                    <img src="../../../assets/parkTicketBilling/location-pin.svg" alt="Location Pin">
                                    <p class="m-0 selectedLocation">{{selectedLocation}}</p>
                                </div>
                            </div>
                            <div class="datesDiv flex justify-content-between">
                                <div class="">
                                    <p class="totalSplitter opacity-80">
                                        {{sharedService.CONSTANTS.parkTicketBillingDateOfVisit}}</p>
                                    <p class="m-0 dates">{{selectedDate}}</p>
                                </div>
                                <div class="">
                                    <p class="totalSplitter opacity-80">
                                        {{sharedService.CONSTANTS.parkTicketBillingVisitors}}</p>
                                    <p class="m-0 dates flex align-items-center"><img class="userImg m-2 mt-1"
                                            src="../../../assets/parkTicketTickets/user.svg" alt="user">{{visitors}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="border p-4 pb-3 mb-3">
                            <p-floatLabel>
                                <input id="fullName" type="text" [disabled]="true" pInputText [(ngModel)]="fullName" />
                                <label class="opacity-80" for="fullName">Full Name <span
                                        class="required">*</span></label>
                            </p-floatLabel>
                        </div>
                        <div class="border p-4 pb-3 mb-3 flex">
                            <div class="flagDiv flex justify-content-between align-items-center w-4rem">
                                <img src="../../../assets/parkTicketBilling/india-flag.svg" alt="Flag">
                                <p class="m-0"><b>+91</b></p>
                            </div>
                            <div class="border ml-2 mr-2 opacity-50 phoneNumberSplitter"></div>
                            <p-floatLabel>
                                <input id="phoneNumber" type="text" [disabled]="true" pInputText
                                    [(ngModel)]="phoneNumber" />
                                <label class="opacity-80" for="phoneNumber">Phone Number <span
                                        class="required">*</span></label>
                            </p-floatLabel>
                        </div>
                        <div class="border p-4 pb-3 mb-3">
                            <p-floatLabel>
                                <input id="email" type="text" [disabled]="true" pInputText [(ngModel)]="email" />
                                <label class="opacity-80" for="email">Email Address <span
                                        class="required">*</span></label>
                            </p-floatLabel>
                        </div>
                    </div>
                    <hr class="totalSplitter">
                    <div class="amountFooterDiv m-0 p-5 pt-3 flex justify-content-between align-items-center">
                        <p class="m-0">{{sharedService.CONSTANTS.parkTicketBillingGrandTotal}}</p>
                        <p class="m-0">₹{{grandTotal}}</p>
                    </div>
                </div>
            </div>

            <div class="paymentWrapper m-2">
                <div class="paymentTitleDiv font-bold flex justify-content-between align-items-center">
                    <p class="m-0 paymentTitle">{{sharedService.CONSTANTS.parkTicketPaymentSelectPaymentOption}}</p>
                </div>
                <div class="paymentDiv p-4">

                    <div class="paymantWrapper">
                        <div class="payment border m-0 mb-2 p-3 pt-2 pb-2 cursor-pointer flex align-items-center "
                            [ngClass]="item.isSelected?'selectedPayment':''" *ngFor="let item of upiData;let i=index"
                            (click)="paymentClicked(i)">
                            <div class="upiImgDiv w-6rem"><img [src]="item.imgUrl" alt="UPI Image"></div>
                            <p class="m-0 upiDescription">{{item.description}}</p>
                        </div>
                    </div>


                    <p class="text-center tearmsAndConditionsInfo">
                        {{sharedService.CONSTANTS.parkTicketPaymentTearmsAndConditions}}</p>
                    <div class="paymentFooterDiv pt-3">
                        <button class="flex justify-content-center" pButton
                            (click)="makePayment()"><b>{{sharedService.CONSTANTS.parkTicketPaymentMakePayment}}</b></button>
                    </div>
                </div>
            </div>

        </div>




    </div>
</div>
<p-sidebar [(visible)]="showSidebar" position="right">
    <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">
            <p class="sidebarHeader">Menu</p>
        </div>
    </ng-template>
    <div class="sidebarContentDiv m-5">
        <div class="sidebarContent ml-2" *ngFor="let item of sidebarDate">
            <div class="parent flex justify-content-between align-items-center cursor-pointer"
                (click)="item.isopen=!item.isopen">
                <p class="sidebarParentLabel">{{item.label}}</p>
                <i class="pi pi-chevron-down" *ngIf="item.isopen&&item.types"></i>
                <i class="pi pi-chevron-right" *ngIf="!item.isopen&&item.types"></i>
            </div>
            <div class="firstChildDiv" *ngIf="item.isopen">
                <div class="firstChild" *ngFor="let firstChildItem of item.types"
                    (click)="firstChildItem.isopen=!firstChildItem.isopen">
                    <div class=" flex justify-content-between align-items-center cursor-pointer">
                        <div class="firstChildLabelDiv flex justify-content-between align-items-center cursor-pointer">
                            <i class="fa fa-angle-double-right mr-2"></i>
                            <p>{{firstChildItem.label}}</p>
                        </div>
                        <i class="pi pi-chevron-down" *ngIf="firstChildItem.isopen&&firstChildItem.types"></i>
                        <i class="pi pi-chevron-right" *ngIf="!firstChildItem.isopen&&firstChildItem.types"></i>
                    </div>
                    <div class="secondChildDiv" *ngIf="firstChildItem.isopen">
                        <div class="secondChild flex justify-content-between align-items-center cursor-pointer"
                            *ngFor="let secondChildItem of firstChildItem.types">
                            <p class="secondChildItemLabel">{{secondChildItem.label}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-sidebar>

<p-dialog [(visible)]="sharedService.showDialog" [modal]="true" [style]="{ width: '25rem' }" [draggable]="false"
    [resizable]="false">
    <div class="flex align-items-center justify-content-center gap-2">
        <img class="warningImage" src="../../../assets/parkTicketDate/my-booking-popup.png" alt="Warning">
    </div>
    <div class="dialogInfo">
        <p class="text-center"><b>{{sharedService.dialogContent}}</b></p>
    </div>
    <div class="dialogButtonDiv flex justify-content-center">
        <p-button class="dialogButton" label="OK" severity="secondary" (onClick)="sharedService.showDialog = false" />
    </div>
</p-dialog>

<div class=" flex justify-content-center loader align-items-center" *ngIf="isLoading">
    <img class="parkTicketLoading" src="../../../assets/parkTicketLoading/Loading Gif.gif" alt="Loading gif">
</div>