.container {
  background-color: #eff3ff;
  height: 100vh;
  position: absolute;
  width: 100%;
}

.wrapper {
  width: 70em;
}

.logoWrapper {
  width: 100%;
}

.logoDiv {
  margin: 1.7em 0 1em 0;
}

.logoDiv img {
  width: 11em;
  height: auto;
}

.sideBarToggleWrapper {
  position: relative;
  bottom: 5em;
  height: 0;
}

.stepsWrapperDiv {
  width: 34em;
}

.stepsDiv {
  background: transparent;
  z-index: 2;
  position: relative;
}

.steps {
  width: 28px;
  height: 28px;
  border: 3px solid;
  border-radius: 100px;
  background-color: #ffffff;
  transition: 0.3s all;
}

.stepsImg {
  width: 12px;
  height: 12px;
  transition: 0.3s all;
}

.disabledSteps {
  border: 3px solid #cccece;
  transition: 0.3s all;
}

.disabledStepsImg {
  opacity: 0.2;
  transition: 0.3s all;
}

.completedSteps {
  background-color: #2bbc4a;
}

.progressbarDiv {
  margin: 0 40px;
  z-index: 0;
  position: relative;
  bottom: 5em;
  bottom: 73px;
}

::ng-deep.p-progressbar-determinate .p-progressbar-label {
  display: none !important;
}

::ng-deep.p-progressbar .p-progressbar-value {
  background-color: #000000 !important;
}

::ng-deep.p-progressbar {
  box-shadow: inset 0px 0px 20px grey;
}


.contentWrapper {
  display: flex;
  justify-content: center;
}


.contentWrapper>div {
  background-color: #f9faff;
  border-radius: 30px;
  width: 34em;
  height: 36em;
  margin: 10px;
  border: 1px solid rgb(128, 128, 128, 0.3);
}


.infoDiv {
  background-image: url(../../../assets/parkTicketBackground/wonderla-booking-animation.gif);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.firstTitle {
  font-size: 60px;
  font-weight: 700;
  font-family: 'Neology', sans-serif;
}

.locationImg {
  width: 40px;
  height: auto;
  font-weight: 900;
}



.secondTitle {
  font-size: 60px;
  font-weight: 100;
  font-family: 'Geraldton', sans-serif;
}

.firstTitle,
.secondTitle {
  margin: 0 20px;
}

.infoParagraphOne,
.infoParagraphTwo {
  font-size: 14px;
  margin: 4px 20px;
}

.locationDiv {
  padding: 2em;
}

.location {
  margin: 10px;
  padding: 1em;
  border-radius: 30px;
  background-color: #ffffff;
  border: 1px solid rgb(128, 128, 128, 0.3);
}

.location:hover {
  background-color: #eff3ff;
}

.locationImageDiv {
  width: 5em;
  height: auto;
  margin: 0 20px;
  border-radius: 100px;
  border: 10px solid #dee4ec;
}

.locationImage {
  width: 100%;
  height: auto;
}


.locationLabel {
  font-size: 30px;
  font-weight: 700;
}




















.loader {
  background-color: rgb(240, 244, 255, 0.5) !important;
}

.parkTicketLoading {
  width: 200px;
  height: auto;
}