.container {
  background-color: #eff3ff;
  position: absolute;
  width: 100%;
  min-height: 100vh;
}

.wrapper {
  width: 70em;
}

.logoWrapper {
  width: 100%;
}

.logoDiv {
  margin: 1.7em 0 1em 0;
}

.logoDiv img {
  width: 11em;
  height: auto;
}

.sideBarToggleWrapper {
  position: relative;
  bottom: 5em;
  height: 0;
}

.stepsWrapperDiv {
  width: 34em;
}

.stepsDiv {
  background: transparent;
  z-index: 2;
  position: relative;
}

.steps {
  width: 28px;
  height: 28px;
  border: 3px solid;
  border-radius: 100px;
  background-color: #ffffff;
  transition: 0.3s all;
}

.stepsImg {
  width: 12px;
  height: 12px;
  transition: 0.3s all;
}

.disabledSteps {
  border: 3px solid #cccece;
  transition: 0.3s all;
}

.disabledStepsImg {
  opacity: 0.2;
  transition: 0.3s all;
}

.completedSteps {
  background-color: #2bbc4a;
}

.progressbarDiv {
  margin: 0 40px;
  z-index: 0;
  position: relative;
  bottom: 73px;
}

::ng-deep.p-progressbar-determinate .p-progressbar-label {
  display: none !important;
}

::ng-deep.p-progressbar .p-progressbar-value {
  background-color: #000000 !important;
}

::ng-deep.p-progressbar {
  box-shadow: inset 0px 0px 20px grey;
}


::ng-deep .p-sidebar-right {
  width: 25rem;
  background-color: #eff3ff;
  color: #000000;
}

::ng-deep.p-sidebar .p-sidebar-header {
  padding: 0.5em 1em;
  margin: 1em 1.5em;
  background-color: #e5e8fb;
}


.sidebarHeader {
  font-size: 24px;
  font-weight: 600;
}


::ng-deep.p-sidebar .p-sidebar-header .p-sidebar-close,
.p-sidebar .p-sidebar-header .p-sidebar-icon {
  border: 3px solid rgb(128, 128, 128, 0.3);
  padding: 16px;
}


.sidebarContent {
  font-weight: 600;
  font-size: 14px;
}


.sidebarParentLabel {
  margin-top: 24px;
  margin-bottom: 24px;
}


.firstChildLabelImage {
  width: 8px;
}


.firstChild {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e5e8fb;
}





.loader {
  background-color: rgb(240, 244, 255, 0.5) !important;
}

.parkTicketLoading {
  width: 200px;
  height: auto;
}

.secondChildItemLabel {
  margin-left: 3em;
}





@media screen and (max-width: 575px) {
  .wrapper {
    width: 20em;
  }


  .logoDiv img {
    width: 8em;
    height: auto;
  }

  .sideBarToggleWrapper {
    bottom: 4em;
  }

  .progressbarDiv {
    margin: 0 24px;
    bottom: 65px;
  }

  .stepLabel {
    font-size: 12px;
  }

  ::ng-deep .p-sidebar-right {
    width: 15rem;
  }

  ::ng-deep.p-sidebar .p-sidebar-content {
    padding: 0 !important;
  }

}



@media screen and (min-width: 576px) and (max-width: 767px) {
  .wrapper {
    width: 36em;
  }

  .logoDiv img {
    width: 8em;
    height: auto;
  }

  .sideBarToggleWrapper {
    bottom: 4em;
  }

  .progressbarDiv {
    margin: 0 36px;
    bottom: 65px;
  }

  .stepLabel {
    font-size: 12px;
  }

  ::ng-deep .p-sidebar-right {
    width: 12rem;
  }

  ::ng-deep.p-sidebar .p-sidebar-content {
    padding: 0 !important;
  }


}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .wrapper {
    width: 45em;
  }
}