.paymentImg {
    width: 20em;
}

.ticketSuccessful {
    font-size: 28px;
    font-weight: 500;
}

.transactionId {
    font-size: 14px;
}

.amount {
    font-size: 18px;
}

.payedBy {
    font-size: 16px;
}


.backToButtonDiv .p-button {
    background-color: #00d34f;
    border: none;
}