<div class="layoutContainer">

  <div class="adBarWrapper flex align-items-center justify-content-center" id="adbar">
    <div class="adBar flex justify-content-center">
      <div class="hotHeader">
        <div class="scrollingText flex align-items-center">{{CONSTANTS.scrollingTextContentOne}} <button
            class="navigateToDashboard" pButton pRipple label="EXPLORE" class="p-button-success"
            (click)="goToDashboard()"></button> {{CONSTANTS.scrollingTextContentTwo}}
          <button class="navigateToDashboard" pButton pRipple label="EXPLORE" class="p-button-success"
            (click)="goToDashboard()"></button> {{CONSTANTS.scrollingTextContentThree}} <button
            class="navigateToDashboard" pButton pRipple label="BOOK NOW" class="p-button-success"
            (click)="goToDashboard()"></button>
        </div>
      </div>
    </div>
  </div>

  <header class="primaryNavbarWrapper" id="navbar">
    <div class="primaryNavbar flex justify-content-between">

      <div class="primaryNavbarLogoDiv"><img class="primaryNavbarLogo cursor-pointer"
          (click)="sharedService.logoClicked();" src="../../../assets/logo/logo_new.svg" loading="lazy" alt="Logo">
      </div>

      <div class="primaryNavbarOptions flex align-items-center">
        <div class="primaryNavbarOption cursor-pointer flex align-items-center m-2 white-space-nowrap text-xs font-bold"
          *ngFor="let option of primaryNavbarOptions;let i =index" (mouseenter)="navOptionHovered(true,i)"
          (mouseleave)="navOptionHovered(false,i)">
          <p class="navbarOption">{{option.label}}</p><i *ngIf="option.items" class="pi pi-chevron-down m-2 pb-1"></i>
          <!-- <p>{{item.label}}<span *ngIf="item.items"><i class="pi pi-chevron-down"></i></span></p> -->

          <div id="primaryNavbarMenu" class="primaryNavbarOptionMenu" *ngIf="option.isHovered"
            [ngClass]="i==0?'firstMenuOption':''">
            <div class="flex align-items-center m-3 mt-1 mb-1" *ngFor="let menu of option.items">
              <i *ngIf="i==0" class="pi pi-chevron-right text-xs mr-2" [ngClass]="i==0?'':''"></i>
              <p>{{menu.label}}</p> <span *ngIf="menu.isNew">New</span>
            </div>
          </div>

        </div>
      </div>

      <div class="primaryNavbarBookNowDiv flex align-items-center justify-content-center">
        <div class="primaryNavbarBookNow">
          <button pButton pRipple label="BOOK NOW" class="navigateToDashboard p-button-success"
            (click)="sharedService.showBookNowDialog=true"></button>
        </div>
      </div>

    </div>
  </header>

  <!-- <header class="primaryNavbarWrapper" id="navbar">
    <div class="primaryNavbar flex justify-content-between">

      <div class="primaryNavbarLogoDiv"><img class="primaryNavbarLogo"
          src="../../../assets/logo/Wonderla Navbar Logo.png" loading="lazy" alt="Logo">
      </div>

      <div class="primaryNavbarOptions flex align-items-center">
        <p-menubar [model]="primaryNavbarOptions" />
      </div>

      <div class="primaryNavbarBookNowDiv flex align-items-center justify-content-center">
        <div class="primaryNavbarBookNow">
          <button pButton pRipple label="BOOK NOW" class="navigateToDashboard p-button-success"
            (click)="showBookNowDialog=true"></button>
        </div>
      </div>

    </div>
  </header> -->


  <div id="contentWrappen">
    <router-outlet></router-outlet>
  </div>


</div>

<p-dialog class="primaryBookingDialog" position="top" [(visible)]="sharedService.showBookNowDialog" [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw',marginTop:'25vh' }" [draggable]="false"
  [resizable]="false">
  <div class="bookingDialogContentWrapper">
    <div class="instantBookingDiv flex justify-content-center">

      <div class="locationFieldDiv m-3 mt-0">
        <p>Location</p>
        <p-dropdown [options]="sharedService.locationsData" [appendTo]="'body'" [filter]="true" filterBy="label"
          [(ngModel)]="sharedService.selectedLocation" optionLabel="label" placeholder="Select Your Destination"
          (onChange)="sharedService.locationChanged($event)" />
      </div>
      <div class="propertyFieldDiv m-3 mt-0">
        <p>Property</p>
        <p-dropdown [options]="sharedService.hotelData" [appendTo]="'body'" [filter]="true" filterBy="label"
          [(ngModel)]="sharedService.selectedHotel" optionLabel="label" placeholder="Select Your Hotel"
          (onChange)="sharedService.propertyChanged($event)" />
      </div>

    </div>

    <div class="flex" *ngIf="sharedService.selectedLocation?.id===1">
      <div class="startDateDiv m-3 mt-0" *ngIf="sharedService.selectedLocation?.id===1">
        <p>Check In</p>
        <p-calendar [(ngModel)]="sharedService.startDate" [appendTo]="'body'" [iconDisplay]="'input'"
          dateFormat="dd/mm/yy" [showIcon]="true" [minDate]="sharedService.todayDate" inputId="icondisplay">
        </p-calendar>
      </div>

      <div class="endDateDiv m-3 mt-0" *ngIf="sharedService.selectedLocation?.id===1">
        <p>Check Out</p>
        <p-calendar [(ngModel)]="sharedService.endDate" [appendTo]="'body'" [iconDisplay]="'input'"
          dateFormat="dd/mm/yy" [showIcon]="true" [minDate]="sharedService.tomorrowDate" inputId="icondisplay">
        </p-calendar>
      </div>

      <div class="adultFieldDiv m-3 mt-0" *ngIf="sharedService.selectedLocation?.id===1">
        <p>Adults</p>
        <p-dropdown [options]="sharedService.adultOptionData" [appendTo]="'body'" filterBy="label"
          [(ngModel)]="sharedService.selectedAdultOption" optionLabel="label" placeholder="Select no of Adult " />
      </div>
    </div>

    <div class="bookOptionDiv mt-2 mr-3 flex align-items-center justify-content-end">
      <button pButton pRipple label="BOOK" [disabled]="sharedService.selectedHotel==null" class="p-button-success"
        (click)="sharedService.bookTicket()"></button>
    </div>

    <div class="instructionDiv flex ml-2 p-3 pb-0" (mouseenter)="showOverlayPanel($event)"
      (mouseleave)="hideOverlayPanel()">
      <b class="instruction cursor-pointer text-base">Why Book Direct?</b>
    </div>

    <div class="instructionOverlayPanelDiv">
      <p-overlayPanel #instructionOverlayPanel class="instructionOverlayPanel">
        <div class="flex flex-column w-25rem">
          <div class="flex">
            <b class="mr-3 mt-2 text-3xl">*</b>
            <p class="mr-3 text-xs"> Get exclusive discount for website direct bookings</p>
          </div>
          <div class="flex">
            <b class="mr-3 mt-2 text-3xl">*</b>
            <p class="mr-3 text-xs"> Stay & Play offer multiple entry & exit from the
              Wonderla Park same day( only for website direct booking)</p>
          </div>
          <div class="flex">
            <b class="mr-3 mt-2 text-3xl">*</b>
            <p class="mr-3 text-xs"> Complimentary access to the activity room and kids play
              area.</p>
          </div>
          <div class="flex">
            <b class="mr-3 mt-2 text-3xl">*</b>
            <p class="mr-3 text-xs"> Free cancellation - 24 hours before check-in only for
              direct bookings</p>
          </div>
        </div>
      </p-overlayPanel>
    </div>

  </div>
</p-dialog>



<div class=" flex justify-content-center loader align-items-center" *ngIf="sharedService.isLoading">
  <p-progressSpinner ariaLabel="loading" />
</div>