.container {
    display: flex;
    justify-content: center;
}

.container>div {
    background-color: #ffffff;
    border-radius: 30px;
    width: 34em;
    margin: 10px;
    border: 1px solid rgb(128, 128, 128, 0.3);
    min-height: 20em;
    height: 34em;
}

.infoDiv {
    padding: 3em;
}

.backArrow {
    width: 20px;
}

.title {
    font-size: 34px;
    font-weight: 900;
    font-family: math;
}

.paragraph {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.clock {
    width: 30px;
}

.hoursOfFun {
    font-size: 18px;
    font-weight: 500;
}

.weekendDiv {
    background-color: #eff3ff;
    border-radius: 30px;
    padding: 0 20px;
    border: 1px solid rgb(128, 128, 128, 0.3);
    font-size: 12px;
}

hr {
    opacity: 0.5;
}

.firstRow p,
.secondRow p,
.thirdRow p {
    width: 13em;
}

.offer {
    color: grey;
}

.offer b {
    color: #2a3784;
}

.calendarWrapper {
    width: 100%;
    padding: 20px;
}


.calendarContainer {
    overflow: scroll;
    height: 26em;
}

.calendarContainer {
    overflow: scroll !important;
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
}

.calendarContainer::-webkit-scrollbar {
    display: none !important;
}

.calendarDiv,
.calendarInfoDiv,
.confirmButtonDiv {
    border: 1px solid rgb(128, 128, 128, 0.3);
    border-radius: 30px;
    width: 100%;
}

.calendarInfoDiv {
    padding: 20px;
}

.calendarInfo span {
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

.week-day {
    font-weight: 600;
    font-size: 20px;
}

.calendar {
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
}

.header {
    grid-column: span 7;
    text-align: center;
    font-weight: bold;
}

.calendarCells {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 1em;
}

.navigathioDiv {
    margin: 10px 24px;
}

.navigathioDiv img {
    margin: 10px 20px;
}

.month {
    font-size: 24px;
}

.weekDays {
    width: 100%;
}

.day {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.daySpan {
    background-color: #53e79d;
    height: 6px;
    width: 26px;
    border-radius: 4px;
    display: block;
}

.day:hover {
    background-color: #2f46ab !important;
    color: #ffffff !important;
}

.current-month {
    background-color: #53e79d;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.day:not(.current-month) {
    background-color: #cdcdcd;
    color: #666666;
}

.selectedDate {
    background-color: #0064ff;
}

.otherMonth {
    background-color: #ffffff !important;
}

.otherMonth:hover {
    background-color: #ffffff !important;
}

.calendarForMobile {
    display: none !important;
}

::ng-deep.p-calendar .p-button {
    background-color: #2f47ab;
    border: #2f47ab;
}

// ::ng-deep.p-dialog .p-dialog-header {
//     padding-bottom: 0;
// }

// ::ng-deep.dialogButton .p-ripple {
//     background-color: #fad500;
//     width: 8em;
//     border: none;
//     border-radius: 30px;
//     color: #2f46ab;
// }

// .warningImage {
//     width: 8em;
//     height: auto;
// }

::ng-deep .confirm .p-ripple {
    width: 100%;
    background-color: #2f47ab;
    height: 3.5em;
    border-radius: 30px;
}


@media screen and (max-width: 575px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .container>div {
        width: 18em;
        margin: 0px;
        min-height: auto;
        height: auto;
    }

    .infoDiv {
        padding: 25px;
        padding-bottom: 20px;
        border-radius: 30px 30px 0 0 !important;
    }

    .title {
        font-size: 30px;
    }

    .calendarWrapper {
        border-radius: 0 0 30px 30px !important;
    }

    .paragraphDiv {
        display: none;
    }

    .weekendDiv {
        display: none;
    }

    .calendarDiv {
        padding: 10px;
        border-radius: 10px;
    }

    .calendarInfoDiv,
    .calendar {
        display: none !important;
    }

    .calendarForMobile {
        display: block !important;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .container>div {
        width: 28em;
        margin: 10px;
        height: auto;
    }

    .infoDiv {
        padding: 40px;
    }

    .paragraphDiv {
        display: none;
    }

    ::ng-deep.p-sidebar .p-sidebar-header+.p-sidebar-content {
        padding-left: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .container>div {
        width: 100%;
        margin: 10px;
        height: auto;
    }

    .infoDiv {
        padding: 40px;
    }

    .paragraph {
        width: 80%;
    }
}