<div class="container">
    <div class="infoDiv">
        <div class="titleDiv flex">
            <img class="backArrow mr-3" src="../../../assets/parkTicketDate/back-arrow.svg" alt="">
            <h2 class="title m-0">{{sharedService.CONSTANTS.parkTicketDateTitle}}</h2>
        </div>
        <div class="paragraphDiv">
            <p class="paragraph">{{sharedService.CONSTANTS.parkTicketDateParagraph}}</p>
        </div>
        <div class="clockDiv flex align-items-center">
            <img class="clock mr-2" src="../../../assets/parkTicketDate/clock-check.svg" alt="">
            <p class="hoursOfFun m-0">{{sharedService.CONSTANTS.parkTicketDateHoursOfFun}}</p>
        </div>
        <div class="weekendDiv">
            <div class="firstRow flex ">
                <p></p>
                <p><b>{{sharedService.CONSTANTS.parkTicketDateParkTimings}}</b></p>
                <p><b>{{sharedService.CONSTANTS.parkTicketDateWaterPark}}</b></p>
            </div>
            <hr>
            <div class="secondRow flex ">
                <p><b>{{sharedService.CONSTANTS.parkTicketDateWeekends}}</b></p>
                <p>{{sharedService.CONSTANTS.parkTicketDateParkTimingsTimeOne}}</p>
                <p>{{sharedService.CONSTANTS.parkTicketDateParkTimingsTimeTwo}}</p>
            </div>
            <hr>
            <div class="thirdRow flex ">
                <p><b>{{sharedService.CONSTANTS.parkTicketDateWeekendsAndHolidays}}</b></p>
                <p>{{sharedService.CONSTANTS.parkTicketDateWaterParkTimeOne}}</p>
                <p>{{sharedService.CONSTANTS.parkTicketDateWaterParkTimeTwo}}</p>
            </div>

        </div>
        <div class="offerDiv flex align-items-center">
            <img class="offerImg mr-2" src="../../../assets/parkTicketDate/offer-blue.svg" alt="">
            <div class="offerParagraph">
                <p class="offer m-0">
                    <b> {{sharedService.CONSTANTS.parkTicketDateDays}}</b>
                    {{sharedService.CONSTANTS.parkTicketDateBetweenDaysAndGrab}}
                </p>
                <p class="offer m-0">
                    {{sharedService.CONSTANTS.parkTicketDateAnd}} <b> {{sharedService.CONSTANTS.parkTicketDateGrab}}</b>
                </p>
            </div>
        </div>
    </div>
    <div class="calendarDiv flex justify-content-center align-items-center flex-column">
        <div class="calendarDiv"></div>
        <div class="calendarInfoDiv flex">
            <div class="calendarInfo flex justify-content-center align-items-center w-full" *ngFor="let info of calendarInfo">
                <span [ngStyle]="{'background':info.color}"></span>
                <p class="m-0 ml-2">{{info.label}}</p>
            </div>
        </div>
        <div class="confirmButtonDiv">
            <p-button label="CONFIRM" />
        </div>
    </div>
</div>